/departementales_2015_sondages_0.csv
/departementales_2015_sondages_2.csv
/departementales_2015_sondages_3.csv
/departementales_2015_sondages_4.csv
/departementales_2015_sondages_5.csv
/departementales_2015_sondages_6.csv
/departementales_2021_sondages_0.csv
/departementales_2021_sondages_2.csv
/departementales_2021_sondages_3.csv
/departementales_2021_sondages_4.csv
