/legislatives_2002_sondages_0.csv
/legislatives_2002_sondages_1.csv
/legislatives_2002_sondages_2.csv
/legislatives_2002_sondages_3.csv
/legislatives_2002_sondages_4.csv
/legislatives_2007_sondages_0.csv
/legislatives_2007_sondages_15.csv
/legislatives_2007_sondages_16.csv
/legislatives_2007_sondages_19.csv
/legislatives_2007_sondages_1.csv
/legislatives_2007_sondages_23.csv
/legislatives_2007_sondages_2.csv
/legislatives_2007_sondages_3.csv
/legislatives_2012_sondages_0.csv
/legislatives_2012_sondages_1.csv
/legislatives_2012_sondages_2.csv
/legislatives_2012_sondages_3.csv
/legislatives_2012_sondages_4.csv
/legislatives_2012_sondages_5.csv
/legislatives_2012_sondages_6.csv
/legislatives_2017_sondages_0.csv
/legislatives_2017_sondages_11.csv
/legislatives_2017_sondages_1.csv
/legislatives_2017_sondages_2.csv
/legislatives_2017_sondages_3.csv
/legislatives_2017_sondages_4.csv
/legislatives_2017_sondages_5.csv
/legislatives_2017_sondages_6.csv
/legislatives_2017_sondages_7.csv
/legislatives_2017_sondages_8.csv
/legislatives_2022_sondages_0.csv
/legislatives_2022_sondages_10.csv
/legislatives_2022_sondages_11.csv
/legislatives_2022_sondages_12.csv
/legislatives_2022_sondages_13.csv
/legislatives_2022_sondages_14.csv
/legislatives_2022_sondages_15.csv
/legislatives_2022_sondages_16.csv
/legislatives_2022_sondages_17.csv
/legislatives_2022_sondages_18.csv
/legislatives_2022_sondages_19.csv
/legislatives_2022_sondages_1.csv
/legislatives_2022_sondages_20.csv
/legislatives_2022_sondages_21.csv
/legislatives_2022_sondages_22.csv
/legislatives_2022_sondages_23.csv
/legislatives_2022_sondages_24.csv
/legislatives_2022_sondages_25.csv
/legislatives_2022_sondages_26.csv
/legislatives_2022_sondages_27.csv
/legislatives_2022_sondages_28.csv
/legislatives_2022_sondages_29.csv
/legislatives_2022_sondages_2.csv
/legislatives_2022_sondages_30.csv
/legislatives_2022_sondages_31.csv
/legislatives_2022_sondages_32.csv
/legislatives_2022_sondages_33.csv
/legislatives_2022_sondages_34.csv
/legislatives_2022_sondages_35.csv
/legislatives_2022_sondages_36.csv
/legislatives_2022_sondages_39.csv
/legislatives_2022_sondages_3.csv
/legislatives_2022_sondages_4.csv
/legislatives_2022_sondages_5.csv
/legislatives_2022_sondages_6.csv
/legislatives_2022_sondages_7.csv
/legislatives_2022_sondages_8.csv
/legislatives_2022_sondages_9.csv
/legislatives_2024_sondages_0.csv
/legislatives_2024_sondages_10.csv
/legislatives_2024_sondages_11.csv
/legislatives_2024_sondages_1.csv
/legislatives_2024_sondages_2.csv
/legislatives_2024_sondages_3.csv
/legislatives_2024_sondages_4.csv
/legislatives_2024_sondages_5.csv
/legislatives_2024_sondages_6.csv
/legislatives_2024_sondages_7.csv
/legislatives_2024_sondages_8.csv
/legislatives_2024_sondages_9.csv
