/europeennes_2009_france_1.csv
/europeennes_2009_france_5.csv
/europeennes_2009_france_8.csv
/europeennes_2014_france_0.csv
/europeennes_2014_france_3.csv
/europeennes_2019_france_0.csv
/europeennes_2019_france_1.csv
/europeennes_2019_france_2.csv
/europeennes_2019_france_3.csv
/europeennes_2019_france_4.csv
/europeennes_2019_france_5.csv
/europeennes_2019_france_6.csv
/europeennes_2024_france_0.csv
