/presidentielle_2027_sondages_0.csv
/presidentielle_2027_sondages_10.csv
/presidentielle_2027_sondages_11.csv
/presidentielle_2027_sondages_12.csv
/presidentielle_2027_sondages_13.csv
/presidentielle_2027_sondages_1.csv
/presidentielle_2027_sondages_2.csv
/presidentielle_2027_sondages_3.csv
/presidentielle_2027_sondages_4.csv
/presidentielle_2027_sondages_5.csv
/presidentielle_2027_sondages_6.csv
/presidentielle_2027_sondages_7.csv
