/premier-tour-avec-bayrou.csv
/premier-tour-officiel.csv
/premier-tour-sans-bayrou.csv
/premier-tour-sans-jadot.csv
/second-tour-fillon-hamon.csv
/second-tour-fillon-lepen.csv
/second-tour-fillon-macron.csv
/second-tour-fillon-melenchon.csv
/second-tour-hamon-lepen.csv
/second-tour-lepen-macron.csv
/second-tour-lepen-melenchon.csv
/second-tour-macron-melenchon.csv
