/nsppolls_regionales_2021.csv
/regionales_2004_sondages_0.csv
/regionales_2004_sondages_10.csv
/regionales_2004_sondages_11.csv
/regionales_2004_sondages_12.csv
/regionales_2004_sondages_13.csv
/regionales_2004_sondages_14.csv
/regionales_2004_sondages_15.csv
/regionales_2004_sondages_16.csv
/regionales_2004_sondages_17.csv
/regionales_2004_sondages_18.csv
/regionales_2004_sondages_19.csv
/regionales_2004_sondages_20.csv
/regionales_2004_sondages_21.csv
/regionales_2004_sondages_22.csv
/regionales_2004_sondages_23.csv
/regionales_2004_sondages_24.csv
/regionales_2004_sondages_25.csv
/regionales_2004_sondages_26.csv
/regionales_2004_sondages_27.csv
/regionales_2004_sondages_28.csv
/regionales_2004_sondages_29.csv
/regionales_2004_sondages_2.csv
/regionales_2004_sondages_3.csv
/regionales_2004_sondages_4.csv
/regionales_2004_sondages_5.csv
/regionales_2004_sondages_6.csv
/regionales_2004_sondages_7.csv
/regionales_2004_sondages_8.csv
/regionales_2004_sondages_9.csv
/regionales_2010_sondages_0.csv
/regionales_2010_sondages_10.csv
/regionales_2010_sondages_11.csv
/regionales_2010_sondages_12.csv
/regionales_2010_sondages_13.csv
/regionales_2010_sondages_14.csv
/regionales_2010_sondages_15.csv
/regionales_2010_sondages_16.csv
/regionales_2010_sondages_17.csv
/regionales_2010_sondages_18.csv
/regionales_2010_sondages_19.csv
/regionales_2010_sondages_1.csv
/regionales_2010_sondages_20.csv
/regionales_2010_sondages_21.csv
/regionales_2010_sondages_22.csv
/regionales_2010_sondages_23.csv
/regionales_2010_sondages_24.csv
/regionales_2010_sondages_25.csv
/regionales_2010_sondages_26.csv
/regionales_2010_sondages_27.csv
/regionales_2010_sondages_28.csv
/regionales_2010_sondages_29.csv
/regionales_2010_sondages_2.csv
/regionales_2010_sondages_30.csv
/regionales_2010_sondages_31.csv
/regionales_2010_sondages_3.csv
/regionales_2010_sondages_4.csv
/regionales_2010_sondages_5.csv
/regionales_2010_sondages_6.csv
/regionales_2010_sondages_7.csv
/regionales_2010_sondages_8.csv
/regionales_2010_sondages_9.csv
/regionales_2015_sondages_0.csv
/regionales_2015_sondages_10.csv
/regionales_2015_sondages_11.csv
/regionales_2015_sondages_12.csv
/regionales_2015_sondages_13.csv
/regionales_2015_sondages_14.csv
/regionales_2015_sondages_15.csv
/regionales_2015_sondages_16.csv
/regionales_2015_sondages_17.csv
/regionales_2015_sondages_18.csv
/regionales_2015_sondages_19.csv
/regionales_2015_sondages_20.csv
/regionales_2015_sondages_21.csv
/regionales_2015_sondages_22.csv
/regionales_2015_sondages_23.csv
/regionales_2015_sondages_25.csv
/regionales_2015_sondages_2.csv
/regionales_2015_sondages_3.csv
/regionales_2015_sondages_4.csv
/regionales_2015_sondages_5.csv
/regionales_2015_sondages_6.csv
/regionales_2015_sondages_7.csv
/regionales_2015_sondages_8.csv
/regionales_2015_sondages_9.csv
